<html  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Online Bank</title>
		<link rel="stylesheet" href="/css/transactions.css"/>
	</head>
	<body>
		<h2 th:inline="text">Transaction ID: #[[${transaction.getId()}]] [[${transaction.type.equals('D')?"Debit":"Credit"}]]</h2>
		<div th:inline="text">Date: [[${transaction.date}]]</div>
		<div th:text="${transaction.type.equals('D')} ? ${'Amount: ' + transaction.amount} : ${'Amount: ' + transaction.amount*(-1)}"></div>
		<div th:inline="text">Description: [[${transaction.description}]]</div>
		<div><a href="/transactions">Back</a></div>
	</body>
</html>